*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#AE4942;
    text-align: center;
}
h1{
    margin-top: 60px;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin; 
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 25px;
    border-style: dotted;
    box-shadow:0 0 1rem  rgba(0,0,0,0.5) ;
    font-size: 7vmin;
    color:#d46921 ;
    background-color: rgb(217, 217, 231);
}
#reset-btn{
    padding: 1rem;
    font-size: 1rem;
    background-color:#8C8A88 ;
    color: whitesmoke;
    border-radius: 1rem;
    border: none;
}

#new-btn{
    padding: 1rem;
    font-size: 1rem;
    background-color:#8C8A88 ;
    color: whitesmoke;
    border-radius: 1rem;
    border: none;
    margin-top: 20px;  
}

.msgcontainer{
     height: 15vmin;
     
}
#msg{
    color:#c78539;
    margin-top: 15px; 
    font-size: 8vmin;
}
 .hide{
    display: none;
}   